@import "variables";
@import "mq";

@mixin fullPage {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 7.5rem;
    width: 100%;
    height: calc(100% - 7.5rem);
    background: linear-gradient(
        $color-primary-light 50%,
        $color-primary-dark-1
    );

    overflow: hidden;
    overflow-y: scroll;

    z-index: 1000;

    transition: all 200ms;

    animation: pullUp 400ms ease-out;

    &.dark {
        background: linear-gradient(
            $color-black 60%,
            $color-primary-dark-2,
            $color-primary
        );
    }
}

@mixin fullPlateDisplay {
    width: 60%;
    height: 17rem;
    margin: 0 auto;
    margin-top: 5rem;
    border-radius: 10px;
    border: 2px solid $color-white;
    color: $color-white;

    @include respond(phone-2) {
        width: 75%;
    }
    @include respond(phone-3) {
        width: 80%;
    }

    &--country {
        display: block;
        width: 10rem;
        text-align: center;
        margin: 0 auto;
        font-size: 4rem;
        background: $color-primary-light;

        transform: translateY(-2rem);

        transition: all 200ms;

        z-index: 500;

        &.dark {
            background: $color-black;
        }
    }

    &--state {
        display: block;
        width: 8rem;
        text-align: center;
        margin: 0 auto;
        font-size: 4rem;
        background: $color-primary-light;

        transform: translateY(2.75rem);

        transition: all 200ms;

        z-index: 500;

        &.dark {
            background: $color-black;
        }
    }

    &--license {
        text-align: center;
        font-family: $font-2;
        font-size: 6rem;
        line-height: 7rem;
        letter-spacing: 0.4rem;

        @include respond(phone-3) {
            font-size: 5.2rem;
            letter-spacing: 0.22rem;
        }
    }
}