$color-text: #FFFFFF; //use opacity for med and low emphasis, 60% for less important, 38% for disabled
$color-black: #121212; //for black on white background or dark bg

$color-secondary-light: #ffb900;
$color-secondary: #ff7730;

$color-primary: #0c7b93;
$color-primary-light: #00a8cc;
$color-primary-dark-1: #27496d;
$color-primary-dark-2: #142850;

$default-font-size: 1.9rem;