@import "variables";
@import "mq";

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} 

html {
    font-size: 62.5%;
    @include respond(phone-2) {
        font-size: 58%;
    }
}

body {
    box-sizing: border-box;
    background-color: $color-white;
    color: $color-black;
    font-family: $font-1;
    font-size: $default-font-size;

    transition: all 200ms;

    &.dark {
        background-color: $color-black;
        color: $color-white;
    }
}

h1 {
    text-align: center;
    margin-top: 15rem;
    font-size: 7rem;

    @include respond(phone-1) {
        font-size: 5.5rem;
    }
    @include respond(phone-2) {
        font-size: 5.2rem;
        margin-top: 12rem;
    }
    @include respond(phone-3) {
        font-size: 4.3rem;
    }
}