@import "variables";

.driver-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 2rem;

    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
}

.card-mini {
    position: relative;
    height: 10rem;
    background: rgba(#FFFFFF, 0.05);

    border: 2px solid rgba(#FFFFFF, 0.8);
    border-radius: 8px;

    cursor: pointer;

    &--plate {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
        white-space: nowrap;
    }

    &--location {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 0.5rem;
        color: rgba(#FFFFFF, 0.8);
    }
}

.card-full {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 7.5rem;
    width: 100%;
    height: 100%;
    background: $color-black;

    z-index: 1000;

    animation: pullUp 400ms ease-out;

    &__plate {
        width: 60%;
        height: 17rem;
        margin: 0 auto;
        margin-top: 5rem;
        border-radius: 10px;
        border: 2px solid #FFFFFF;

        &--country {
            display: block;
            width: 12rem;
            text-align: center;
            margin: 0 auto;
            font-size: 4rem;
            background: $color-black;

            transform: translateY(-2rem);

            z-index: 500;
        }

        &--state {
            display: block;
            width: 8rem;
            text-align: center;
            margin: 0 auto;
            font-size: 4rem;
            background: $color-black;

            transform: translateY(2.75rem);

            z-index: 500;
        }

        &--license {
            text-align: center;
            font-size: 6rem;
            letter-spacing: 0.4rem;
        }
    }

    &--comments {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80%;
        margin: 0 auto;
        margin-top: 5rem;
        padding: 1.5rem;

        height: 50%;

        border: 2px solid #FFFFFF;
        border-radius: 8px;

        overflow-y: scroll;
    }
}

.comment {
    position: relative;
    width: 100%;
    border-radius: 4px;
    background: rgba(#FFFFFF, 0.05);

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &--type {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.75rem;
        font-size: 2.2rem;
        color: rgba(#FFFFFF, 0.8);
        text-transform: capitalize;
    }

    &--text {
        padding-top: 3.5rem;
        padding-left: 1rem;
        padding-right: 4.5rem;
        padding-bottom: 1rem;
        font-size: 3rem;
        text-transform: lowercase;
    }

    &--date {
        padding-left: 1rem;
        padding-bottom: 0.75rem;
        color: rgba(#FFFFFF, 0.8);
    }
}

.close-card {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem;
    border: none;
    background: none;
    color: #FFFFFF;
    font-size: 3.5rem;

    cursor: pointer;
}

@keyframes pullUp {
    0% {
        transform: translateY(50rem);
    }
    100% {
        transform: translate(0);
    }
}