@import "variables";
@import "mq";

.search {
    width: 100%;
    margin: 0 auto;
    margin-top: 5rem;

    @include respond(phone-2) {
        margin-top: 3rem;
    }
    @include respond(phone-3) {
        margin-top: 2rem;
    }
}

.searchbar {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;

    z-index: 500;
    
    &--field {
        width: 100%;
        font-size: 3rem;
        padding: 1rem 1.5rem;
        border-radius: 10px 0px 0px 10px;

        border-left: 2px solid $color-primary-light;
        border-top: 2px solid $color-primary-light;
        border-bottom: 2px solid $color-primary-light;
        border-right: none;
        outline: none;
        background: rgba($color-black, 0.02);
        color: $color-black;

        z-index: 1000;

        transition: all 200ms;

        &.dark {
            border: none;
            outline: none;
            background: $color-white;
            color: $color-black;
        }
    }

    &--button {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0px 10px 10px 0px;
        cursor: pointer;

        border-right: 2px solid $color-primary-light;
        border-top: 2px solid $color-primary-light;
        border-bottom: 2px solid $color-primary-light;
        border-left: none;
        background: rgba($color-black, 0.02);

        transition: all 200ms;

        &.dark {
            border: none;
            background: $color-white;
        }
    }

    &--button-image {
        height: 3.2rem;
    }
}

.results {
    margin: 0 auto;
    width: 80%;
    list-style: none;
    margin-top: -0.5rem;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 6px 11px 2px rgba($color-primary-light, 0.4);
    overflow: hidden;

    background: $color-white;

    transition: all 200ms;

    z-index: -1;

    &.dark {
        background: transparent;
    }
}

.no-results {
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
    color: rgba($color-black, 0.8);

    cursor: pointer;

    &.dark {
        color: rgba($color-white, 0.8);
        background: transparent;
    }
}

.result--plate {
    padding: 1rem;
    font-size: 3rem;
    cursor: pointer;

    color: rgba($color-black, 0.8);

    transition: all 200ms;

    &:hover {
        color: $color-black;
        background: rgba($color-white, 0.05);
    }

    &.dark {
        color: rgba($color-white, 0.8);

        &:hover {
            color: $color-white;
            background: rgba($color-black, 0.05);
        }
    }
}